
@{
    ViewBag.Title = "Users - Action Page";
}
<style>
    .btn {
        margin-top: 10px !important;
        font-weight: 600;
    }

    .card {
        text-align: center;
        background-color: #99cfec;
        padding: 20px;
        max-width: 300px;
        min-width: 300px;
        margin: 0 auto;
        margin-top: 10px;
    }

    #cardRight {
        margin: 0 auto;
        margin-top: 10px;
    }

    }
</style>
<p style="text-align: center"><span class="glyphicon glyphicon-th-large" style="font-size: 3em"></span></p>
<hr id="greenHR" />
<hr id="blueHR" style="margin-bottom: 10px; padding-bottom: 0" />
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="http://www.placehold.it/200/200" alt="Users">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-new-window"></span> Manage Users
                </button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="card" style="width: 18rem;" id="cardRight">
            <img class="card-img-top" src="http://www.placehold.it/200/200" alt="User Access Levels">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-new-window"></span> Manage User Access Levels
                </button>
            </div>
        </div>
    </div>
</div>






